<div class="bg-white pt-14   pb-60">
  <div class="general_padding">
    <div>
      <p class="font-bold text-5xl max-sm:text-3xl">Your pathway to Seamless <br>Learning Experiences</p><br>
      <p class="font-medium text-[#1F2A37]">Track,optimise and enchance the learning process of both instructors and
        <br> learners of your school,institution of training academy with Studicraft
      </p> <br>
      <button class="bg-dark text-white  py-3  px-14 rounded-lg font-medium"> Request installation</button>
    </div>
    <div class=" mr-8 ">
      <img src="assets/images/landing.png" alt="eeeeo" class="max-sm:mt-[5rem]" >
    </div>

    <div>
      <p class="flex justify-center text-[#1F2A37] font-medium text-lg">Trusted by Schools</p>
    </div>
  </div>

  <div class="" *ngFor="let i  of nb">
    <div class="bg-stroke h-[5rem] w-[25rem]">
      {{i}}
    </div>

  </div>


  <div class="bg-dark ">
    <div class=" bg-dark ">
      <div class="general_padding">

      </div>
      <div class="mt-20 pt-20 flex gap-10 general_padding">
        <div class="flex flex-col">
          <div class="">
            <p class="text-secondary text-3xl font-medium max-sm:text-lg">Course <br> distribution</p>
          </div>


        </div>

        <div>
          <img src="assets/images/1.png " alt="eeeeo" id="img" class="  ">
        </div>
      </div>
      <div class="flex">
        <div class="h-[4.rem] w-[80rem] bg-primary justify-endmax-md:w-[20rem] max-sm:w-[20rem]  max-lg:w-96">

        </div>
        <div class="bg-secondary w-full h-[0.05rem] mt-16">

        </div>
      </div>

    </div>
    <div class="bg-dark">

      <div class=" mt-40 flex gap-4 general_padding">
        <div>
          <img src="assets/images/2.png" alt="eeeeo" class="md:w-[40rem]">
        </div>
        <div class="flex flex-col">
          <div class="">
            <p class="text-secondary text-[3rem] font-medium max-sm:text-lg">Communication</p>
          </div>


        </div>
      </div>
      <div class="grid  justify-items-end">
        <div class="h-[4.4rem] w-[55rem] bg-primary max-lg:w-80 max-sm:w-[10rem]">

        </div>


      </div>
      <div class="w-full h-[0.05rem] bg-secondary">

      </div>

    </div>
    <div class="bg-dark">

      <div class=" mt-40 flex gap-10 general_padding">
        <div class="flex flex-col">
          <div class="">
            <p class="text-secondary text-[3rem] font-medium max-sm:text-lg">Exercises/<br>Examination</p>
          </div>


        </div>
        <div>
          <img src="assets/images/2.png" alt="eeeeo" class="">
        </div>

      </div>
      <div class="  ">
        <div class="h-[5rem] w-[60rem] bg-primary max-md:w-[20rem] max-sm:w-[10rem]  max-lg:w-80">

        </div>
        <div class="w-full h-[0.05rem] bg-secondary">

        </div>
      </div>
    </div>
    <div>

      <div class="mt-40  flex gap-10 general_padding">
        <div>
          <img src="assets/images/4.png" alt="eeeeo" class="">
        </div>
        <div class="flex flex-col">
          <div class="">
            <p class="text-secondary text-[3rem] font-medium max-sm:text-lg">Examination <br> Results</p>
          </div>


        </div>
      </div>
      <div class="grid  justify-items-end">
        <div class="h-[5rem] w-[55rem] bg-primary max-md:w-[20rem] max-sm:w-[10rem]  max-lg:w-80">

        </div>


      </div>
      <div class="w-full h-[0.05rem] bg-secondary">

      </div>

    </div>

    <div class="">

      <div class="mt-40  flex gap-10 general_padding">
        <div class="flex flex-col">
          <div class="">
            <p class="text-secondary text-[3rem] font-medium max-sm:text-lg">Calender</p>
          </div>


        </div>
        <div>
          <img src="assets/images/5.png" alt="eeeeo" class="">
        </div>

      </div>
      <div class="  ">
        <div class="h-[5rem] w-[55rem] bg-primary max-md:w-[20rem] max-sm:w-[10rem]  max-lg:w-80">

        </div>

      </div>
    </div>
  </div>
  <div class="general_padding mt-20 ">
    <div>
      <a class="font-medium text-[4rem]"> Pricing</a>
    </div>
    <div class="flex  gap-10 max-sm:flex-col">
      <div class="bg-[#ffff] h-[35rem] w-[30rem] pt-5 rounded-lg max-sm:w-[20rem] ">
        <div class="  grid justify-items-center">
          <div class="flex flex-col">
            <a class="font-medium text-[1.5rem]">Test Plan </a>
            <a class="font-semibold"><a class=" text-[2rem]">0 </a><a class="pb-7">XAF</a></a>
            <a class="text-primaryText">per month </a>

          </div>

          <div class="bg-[#d0ccdd] w-[15rem] h-[0.05rem] mt-5 mb-5 ">

          </div>

        </div>

        <div>
          <a class="font-medium text-[1.5rem] pt-6 ml-5">Advantages</a>
          <ul class="flex flex-col space-y-5 ml-5 mt-5 ">
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>


          </ul>

        </div>
        <div class=" grid justify-items-center">
          <div class="bg-[#d0ccdd] w-[15rem] h-[0.05rem] mt-5 mb-5 ">

          </div>

        </div>
        <div class=" grid justify-items-center">
          <button type="button"
            class="text-white bg-dark hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-4 py-2 text-center w-[20rem] h-[3rem]  ">Test
            Demo</button>

        </div>
      </div>
      <div class="bg-[#ffff] h-[35rem] w-[30rem] pt-5 rounded-lg max-sm:w-[20rem]">
        <div class="  grid justify-items-center">
          <div class="flex flex-col">
            <a class="font-medium text-[1.5rem]">Subscription Plan </a>
            <a class="font-semibold"><a class=" text-[2rem]">0 </a><a class="pb-7">XAF</a></a>
            <a class="text-primaryText">per month </a>

          </div>

          <div class="bg-[#d0ccdd] w-[15rem] h-[0.05rem] mt-5 mb-5">

          </div>

        </div>

        <div>
          <a class="font-medium text-[1.5rem] pt-6 ml-5">Advantages</a>
          <ul class="flex flex-col space-y-5 ml-5 mt-5 ">
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>
            <div class=" flex space-x-2">
              <img src="assets/images/6.png" alt="1">
              <li>Advantages</li>

            </div>


          </ul>

        </div>
        <div class=" grid justify-items-center">
          <div class="bg-[#d0ccdd] w-[15rem] h-[0.05rem] mt-5 mb-5 ">

          </div>

        </div>
        <div class=" grid justify-items-center">
          <button type="button"
            class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-4 py-2 text-center w-[20rem] h-[3rem] ">Contact
            Sales </button>

        </div>
      </div>
    </div>
  </div>
</div>
